{% extends "base.html" %}
{% load static %}

{% block content%}
<h2>New Question</h2>
<form style="width: 100%;">
    <div class="mb-3">
        <label class="form-label">Question title (40 symbols max)</label>
        <input class="form-control" id="titleInput" maxlength="40">
        <div class="form-text">Text/Error message</div>
    </div>
    <div class="mb-3">
        <label class="form-label">Ask something (1000 symbols max)</label>
        <textarea class="form-control" rows="5" maxlength="1000"></textarea>
        <div class="form-text">Text/Error message</div>
    </div>
    <div class="mb-3">
        <label class="form-label">Tags</label>
        <input type="text" class="form-control">
        <div class="form-text">Text/Error message</div>
    </div>
    <button type="submit" class="btn btn-outline-success">Ask!</button>
</form>
{% endblock content%}