{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content%}
<h2>Log In</h2>
{% if user.is_authenticated %}
<div>{{user.get_username}}</div>
{% endif %}
<form style="width: 100%;" action = "/login" method = "POST">
    {% csrf_token %}
    <div class="form-text">Text/Error message</div>
    <div>{% bootstrap_form form %}</div>
    
    <hr>
    <button type="submit" class="btn btn-outline-success">Log in</button>
    <a href='{% url "signup" %}' class="btn btn-outline-success">Create new account</a>
</form>
{% endblock content%}