{% extends "base.html" %}
{% load static %}

{% block content%}
<div class="questions-list">
    {% include "inc/big-question-item.html" %}
    <hr style="color:black">
    {% for answer in answers%}
        {% include "inc/answer-item.html" %}
    {% endfor %}
</div>
<form style="width: 100%;">
    <div class="mb-3">
        <label class="form-label">Enter your answer (1000 symbols max)</label>
        <textarea class="form-control" rows="5" maxlength="1000"></textarea>
        <div class="form-text">Text/Error message</div>
    </div>
    <button type="submit" class="btn btn-outline-success">Answer</button>
</form>
<div class="bottom">
    <div class="pagebtn">1</div>
    <div class="pagebtn">2</div>
    <div class="pagebtn">3</div>
    <div class="pagebtn">...</div>
    <div class="pagebtn">100</div>
</div>
{% endblock content%}
