{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content%}
<div class="questions-list">
    {% include "inc/big-question-item.html" %}
    <hr style="color:black">
    {% for answer in answers%}
        {% include "inc/answer-item.html" %}
    {% endfor %}
</div>
{% if user.is_authenticated %}
<hr>
<form style="width: 100%;"  method = "POST">
    {% csrf_token %}
    <label class="form-label">Enter your answer (1000 symbols max)</label>
    <div>{% bootstrap_form form %}</div>
    <hr>
    <button type="submit" class="btn btn-outline-success">Answer</button>
</form>
{% endif %}
{% endblock content%}
