{% load static %}
<div class="question-item">
    <div class=" av_and_counter">
        <img class="avatar-question" src="{% static 'img/ava.png' %}">
        <div class="counter">
            <div style="margin:5px;" id="aRating{{answer.id}}">{{answer.rating}}</div>
        </div>
    </div>
    <div class="question_item_fields">
        <p>{{answer.author.username}}'s answer</p>
        <p>{{answer.text}}</p>
        {% if question.author.id == user.id %}
        <div class="mb-3 form-check">
                {% if answer.isCorrect %}
                <input type="checkbox" checked class="chckbox-ans" data-qid="{{question.id}}"  data-aid="{{answer.id}}">
                {% else %}
                <input type="checkbox" class="chckbox-ans" data-qid="{{question.id}}"  data-aid="{{answer.id}}">
                {% endif %}    
            <label class="form-check-label">Mark as answer</label>
        </div>
        {% elif answer.isCorrect %}
        <div class="mb-3 form-check">
            <input type="checkbox" disabled checked>
            <label class="form-check-label">Author marked this as answer</label>
        </div>
        {% endif %}
    </div>
</div>