{% load static %}
<div class="question-item" style="border:none">
    <div class="av_and_counter">
        <img class="avatar-question" style="width: 100px; height: 100px;"
        src="{% static 'img/ava.png' %}">
        <div class="counter">
            <div style="margin:5px;">{{question.rating}}</div>
            <button class="pagebtn">+</button>
            <button class="pagebtn">-</button>
        </div>

    </div>
    <div class="question_item_fields">
        <h2>{{question.title}}</h2>
        <p>{{question.text}}</p>
        <div class="question_item_tags">
            tags:
            {% for tag in question.tags.all %}
            <a class="tag" href="{% url 'tag' tag.name %}">{{tag.name}}</a>
            {% endfor %}
        </div>
    </div>
</div>